

<div class="card flex flex-column md:flex-row gap-3">
  <p-inputGroup>
    <p-inputGroupAddon>
        <i class="pi pi-user">Nombre</i>
    </p-inputGroupAddon>
    <input pInputText placeholder="Username" />
  </p-inputGroup>
  <p-inputGroup>
    <p-inputGroupAddon>Apellido</p-inputGroupAddon>
    <input type="text" pInputText placeholder="Lastname" />
    </p-inputGroup>
  <p-inputGroup>
    <p-inputGroupAddon>Ciudad</p-inputGroupAddon>
    <input type="text" pInputText placeholder="City" />
  </p-inputGroup>


</div>
<div style="margin: 10px;">
  <app-boton-agregar></app-boton-agregar>
</div>

